<h1><%= @genre.name %></h1>

<ul>
    <% @books.each do |book| %>
            <li><%= book.title %> , <%= book.author.name %></li>
    <% end %>
</ul>

<div>
    <%= link_to("Back to Genres", genres_path) %>
</div>